/* Custom styles to augment Tailwind */
body {
    background-color: #0f172a; /* Slate 900 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1e293b; 
}
::-webkit-scrollbar-thumb {
    background: #475569; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #64748b; 
}

/* Aspect Ratio Fixes for older browsers */
.aspect-w-16 {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
}
.aspect-w-16 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
